@import "tailwindcss";

/* Custom Font */
@font-face {
  font-family: "SherlyKitchen";
  src: url("/fonts/Sherly-Kitchen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply font globally */
body {
    font-family: "SherlyKitchen", sans-serif !important;
  background-color: #f5f5dc;
  color: #2c2c2c;
}

/* Root Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}