@import "tailwindcss";

@font-face {
  font-family: "SherlyKitchen";
  src: url("/fonts/Sherly-Kitchen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/open-sans.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "OpenSans", sans-serif;
  background-color: #f5f5dc;
  color: #2c2c2c;
}
nav, nav * {
  font-family: "SherlyKitchen", sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "SherlyKitchen", sans-serif;
}
/* Root Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}